<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
</head>
<body>
<p>Hello, {{ user }}</p>
<form action="/team_name_url/" method="post">
    <label for="team_name">Enter name: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
    <input type="submit" value="OK">
</form>
<a href="/popup/" class="js-popup-link">bring up a popup</a>
<div id="popup"></div>


<script>

    $(function(){
  $('.js-popup-link').click(function(e){
    e.preventDefault()
    $('#popup').dialog({modal: true}).dialog('open').load(this.href)
  })
})
</script>
</body>
</html>