{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!-- Page Content -->
{% block content %}
<!-- Title Page -->
{% for tbar in title_bar %}
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url({{ tbar.shop_title_bar.url }});">
    <h2 class="l-text2 t-center">
        {{ tbar.shop_title_bar_title }}
    </h2>
    <p class="m-text13 t-center">
        New Arrivals Collection 2018
    </p>
</section>
{% endfor %}


<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <!--  -->
                    <h4 class="m-text14 p-b-7">
                        Categories
                    </h4>

                    <ul class="p-b-54">
                        {% for c in category %}
                        <li class="p-t-4">
                            <a href="{% url 'category_product' c.slug %}" class="s-text13 active1">
                                {{ c.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                <!--  -->
                <div class="flex-sb-m flex-w p-b-35">

                    <span class="s-text8 p-t-5 p-b-5">
							Showing 1–12 of 16 results
						</span>
                </div>

                <!-- Product -->
                <div class="row">
                    {% for p in all_products %}

                        <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                    <img src="{{ p.image.url }}" alt="IMG-PRODUCT">


                                    <div class="block2-overlay trans-0-4">
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20">
                                    <span style="float: left;"><a href="{% url 'product_detail' p.slug %}" class="block2-name dis-block s-text3 p-b-5">
                                        {{ p.title }}
                                    </a></span>

                                    <span style="float: right;"  class="block2-price m-text6 p-r-5">
										{{ p.price }}
									</span>
                                    <br>
                                    <button type="button" class="open-AddBookDialog btn btn-info btn-lg" data-toggle="modal"
                                            data-target="#myModal" data-name={{ p.title }} data-id={{ p.id }}>INTERESTED
                                    </button>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</section>


       <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body">
            <p>
                <form id="contact-form" name="contact-form" action="{% url 'interested_products' %}" method="post">
                    {% csrf_token %}

                    <!--Grid row-->
                    <div class="row" style="margin-bottom: 10px !important;">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form" style="border: 1px solid #c6bdbd;">
                                <input type="text" id="name" name="name" class="form-control" placeholder="Your Name">

                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form" style="border: 1px solid #c6bdbd;">
                                <input type="email" id="email" name="from_email" class="form-control"
                                       placeholder="Your email">
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row" style="margin-bottom: 10px !important;">
                        <div class="col-md-12">
                            <div class="md-form" style="border: 1px solid #c6bdbd;">
                                <input type="text" id="subject" name="subject" class="form-control"
                                       placeholder="Subject">

                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row"style="margin-bottom: 10px !important;">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form" style="border: 1px solid #c6bdbd;">
                                <textarea type="text" id="message" name="message" rows="2"
                                          class="form-control md-textarea" placeholder="Your message"></textarea>

                            </div>

                        </div>
                    </div>
                    <!--Grid row-->
                                        <!--Grid row-->
                    <div class="row" style="margin-bottom: 10px !important;">
                        <div class="col-md-12">
                            <div class="md-form" style="border: 1px solid #c6bdbd;">
                                    <div class="modal-body">
                                        <input type="text" readonly name="product_name" id="product_name" value=""/>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                                                        <!--Grid row-->
                    <div class="row" style="margin-bottom: 10px !important;">
                        <div class="col-md-12">
                            <div class="md-form" hidden style="border: 1px solid #c6bdbd;">
                                    <div class="modal-body">
                                        <input type="text"  name="bookId" id="bookId" value=""/>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="center-on-small-only">
{#                        <button class="btn btn-primary" type="submit">Send</button>#}
                        <button class="btn btn-primary flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" type="submit">
								Send
							</button>
                    </div>

                </form>

            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>


{% endblock content %}

